.productList
    width 1000px
    margin 0 auto
    padding 25px 0
.ProductTile
    border 1px solid $color4
    font-size $fontSize4
    display:inline-block;
    padding 10px
    width 240px
    img
        width 100%
    h2
        font-size $fontSize2
    span 
        font-size $fontSize1          
    .flex-grid
        margin-top 10px
        display flex
        justify-content space-between