.productList
    width 1000px
    margin 25px auto
.ProductTile
    border 1px solid $color4
    width 240px
    font-size $fontSize4
    padding 10px
    img
        width 100%
    h2
        font-size $fontSize2
    span 
        font-size $fontSize1          
    .flex-grid
        margin-top 10px
        display flex
        justify-content space-between