footer
	h2
		font-size 16px
		margin-bottom 8px
	padding 18px 15px
	display flex
	color $color3
	background $color2
	flex-direction row
	justify-content space-between
	
	.footerBox
		width 100%
		padding-right 40px
	