nav
    li
        list-style none
        display inline-block
        a
            padding 28px 15px
            text-decoration none
            cursor pointer
            color $color3
            &:hover
                background $color1
                color $color2