$font1 = 'Arial'

h1, h2, h3, h4, h5, h6, p, ul, ol, form, body
    padding 0
    margin 0

body
    font-family $font1

h2
    font-size 18px
    

@import 'nib';
@import './App/Header';
@import './Home/Banner';
@import './components/ProductTile';