h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Arial';
}
header {
  padding: 10px;
}
header h1 {
  font-size: 18px;
}
.banner {
  padding: 10px;
  text-align: center;
}
