h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form,
body,
figure {
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 18px;
}
p,
li {
  font-size: 14px;
}
body {
  font-family: 'Arial';
  background: #f2f2f2;
}
.fullWidth {
  width: 100%;
}
#mount-node section {
  background: #fff;
  width: 100%;
}
.HomeRoute {
  overflow: hidden;
  width: 100%;
}
.btn {
  background: #3f3f3f;
  text-decoration: none;
  padding: 8px 12px;
  font-size: 14px;
  color: #fff;
}
header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  color: #919191;
  padding: 24px 10px;
  background: #3f3f3f;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
header h1 {
  font-size: 18px;
}
footer {
  padding: 18px 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  color: #919191;
  background: #3f3f3f;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
footer h2 {
  font-size: 16px;
  margin-bottom: 8px;
}
footer .footerBox {
  width: 100%;
  padding-right: 40px;
}
nav li {
  list-style: none;
  display: inline-block;
}
nav li a {
  padding: 28px 15px;
  text-decoration: none;
  cursor: pointer;
  color: #919191;
}
nav li a:hover {
  background: #fff;
  color: #3f3f3f;
}
.banner {
  border-bottom: 1px solid #919191;
  background: #e0e0e0;
  text-align: center;
  padding: 10px;
  height: 380px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.singleProduct {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.singleProduct figure {
  width: 300px;
}
.productList {
  width: 1000px;
  margin: 0 auto;
  padding: 25px 0;
}
.ProductTile {
  border: 1px solid #e0e0e0;
  font-size: 12px;
  display: inline-block;
  padding: 10px;
  width: 240px;
}
.ProductTile img {
  width: 100%;
}
.ProductTile h2 {
  font-size: 18px;
}
.ProductTile span {
  font-size: 22px;
}
.ProductTile .flex-grid {
  margin-top: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
