$font1 = 'Arial'

// Colors
$bodyColor = #f2f2f2
$color1 = #FFF
$color2 = #3f3f3f
$color3 = #919191
$color4 = #e0e0e0

// Font Size
$fontSize1 = 22px
$fontSize2 = 18px
$fontSize3 = 14px
$fontSize4 = 12px

// Base Start
    h1, h2, h3, h4, h5, h6, p, ul, ol, form, body
        padding 0
        margin 0
    h2
        font-size 18px
    p, li
        font-size 14px
// Base End

// Body Start
    body
        font-family $font1
        background $bodyColor
// Body End

// Container Start
    #mount-node
        section
            background $color1
            width 100%
    .HomeRoute
        overflow hidden
        width 100%   
// Container End

// Buttons Start
    .btn
        background $color2
        text-decoration none
        padding 8px 12px
        font-size $fontSize3
        color $color1
// Buttons End

// Importation Start
    @import 'nib';
    @import './App/Header';
    @import './App/Footer';
    @import './App/Menu';
    @import './Home/Banner';
    @import './components/ProductTile';
// Importation End